@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  max-width: 100%;
}
body{
  @apply bg-slate-700 max-w-[100%] w-[100%] p-0 m-0 box-border
}
.header{
  @apply h-[10vh] w-full flex items-center justify-between px-[5vw]
}
.headerLeft{
  @apply flex h-full w-auto items-center justify-center
}
.headerLeft > img{
  @apply h-[60%] w-auto
}
.headerLeftR{
  @apply flex flex-col h-full text-orange-500 w-auto items-center
  ml-[15px] justify-center
}
.headerLeftR i:first-child{
  @apply text-2xl font-black
}
.headerLeftR h2{
  @apply text-xl font-semibold text-white
}
.headerRight{
  @apply hidden justify-evenly items-center md:flex
}
.headerRight a{
  @apply text-[3vh] font-medium duration-300 text-white
}
.headerRight a:hover{
  @apply text-orange-500
}
.menu{
  background: rgba(46, 42, 61, 0.815);
  backdrop-filter: blur(5px);
}
.menu{
  @apply duration-500 text-white flex flex-col top-0 z-20 fixed w-full h-full justify-between
}
.menuTop{
  @apply w-full h-[10vh] items-center text-right text-[8vh] pr-[4%] text-gray-500 cursor-pointer
}
.menuBottom{
  @apply w-full h-[10vh]
}
.menuMiddle{
  @apply font-bold w-full h-[50%] flex flex-col items-center justify-evenly text-3xl
}
.menuMiddle a{
  @apply hover:text-orange-500 duration-300
}
.home > img{
  @apply z-[-1] absolute object-cover bg-center w-full h-[70vh] opacity-50
}
.home{
  @apply flex flex-col w-full max-w-[100%] h-auto items-center
}
.title{
  @apply w-[80vw] h-[70vh] lg:w-[60vw] flex flex-col justify-center items-center
}
.title h1{
  @apply text-orange-500 text-[12vw] font-black lg:text-[8vw]
}
.title h2{
  @apply  text-center text-white text-[5vw] font-bold lg:text-[3vw]
}
.title h1:nth-child(2){
  @apply text-white text-[9vw] lg:text-[6vw]
}
.rentForm{
  @apply w-full flex-col  h-auto bg-gray-200 flex justify-center items-center
}
.rental{
  @apply w-[80vw] h-auto flex flex-col py-[5vh] bg-white
  shadow-xl shadow-orange-500  mb-[5vh] mt-[-5vh]
  rounded-xl
}
.rentalT{
  @apply w-full h-1/4 text-2xl font-bold lg:ml-[5%] lg:text-left
  text-center flex flex-col justify-center items-center lg:justify-normal
  lg:items-start
}
.rentalM{
  @apply w-full h-3/4 my-[3vh] flex flex-col justify-center items-center md:grid md:grid-flow-row md:grid-cols-2 place-items-center
}
.rentalM label{
  @apply  flex flex-col text-[17px] font-bold my-[2vh]
}
.rentalM h1 > img{
  @apply h-[17px] w-auto pr-2
}
.rentalM h1 {
  @apply flex items-center
}
.rentalM input, .rentalM select{
  @apply ml-[-5px] w-[60vw] text-gray-600 text-center
  border-[1px] md:w-[30vw] border-gray-400 rounded-sm
  h-[5vh] text-[2vh] outline-none mt-[3px]
}
.rentalM button{
  @apply w-[60vw] md:w-[30vw] h-auto py-[10px] bg-orange-500 text-[2vh]
  lg:text-2xl hover:shadow-2xl font-bold rounded-sm text-white
  hover:shadow-slate-700 duration-300 mt-[15px] hover:bg-slate-700
}
.best{
  @apply bg-white w-full h-auto py-[5vh] flex flex-col items-center justify-center
}
.bestT{
  @apply flex text-center lg:text-7xl text-5xl text-slate-700 font-black
}
.bestB{
  @apply my-[10vh] w-[60vw] text-center h-auto flex flex-col lg:flex-row justify-center items-center
}
.bestBCh{
  @apply flex flex-col items-center justify-center
}
.bestBCh img{
  @apply hover:scale-105 duration-300 rounded-full object-cover w-[40vw] h-[40vw] lg:w-[15vw] lg:h-[15vw] items-center justify-center
}
.bestBCh h1{
  @apply text-3xl font-bold text-slate-700 my-[2vh]
}
.bestBCh p{
  @apply max-w-[100%] lg:max-w-[60%] text-xl font-semibold text-slate-400 my-[2vh]
}
.up{
  @apply fixed right-[2vw] bottom-[5vh] w-[5vh] h-[5vh] rounded-full
  bg-orange-500 hover:bg-slate-700 p-[1vh] cursor-pointer duration-300
}
.finalisation{
  @apply fixed flex flex-col top-0 left-0 bg-white w-[95vw] h-[93vh]
  z-20 md:w-[90vw] md:left-[2%] lg:w-[60vw] lg:left-[20vw] my-[5vh] mx-[2vw] overflow-y-auto
}
.finalisationT{
  @apply flex justify-between bg-orange-500 px-2 text-white
  text-[3vh] cursor-pointer font-bold
  items-center
}
.finalisationM{
  @apply w-full h-auto flex flex-col md:flex-row px-[3vw]
}
.finalisationML{
  @apply font-bold flex flex-col text-xl w-auto md:w-1/2
  pl-[3vw] md:m-0 m-auto
}
.finalisationML label{
  @apply py-[2vh] text-lg
}
.finalisationML img{
  @apply w-auto h-[3vh] pr-[20px]
}
.finalisationML p{
  @apply pl-[6vh] font-normal text-slate-700
}
.finalisationMR{
  @apply m-auto mt-[3vh] flex flex-col p-[1vh] lg:max-w-[50%]
}
.finalisationMR >  h1{
  @apply text-xl font-bold text-slate-700 text-center
}
.backdrop{
  @apply fixed top-0 left-0 w-full h-full bg-[rgb(33,33,33,.5)]
  backdrop-blur-sm z-[20]
}
.finalisationB{
  @apply w-full h-auto px-[5vw]
}
.finalisationB h1{
  @apply text-xl font-semibold text-slate-700 mt-5
}
.finalisationB input{
  @apply w-full text-lg bg-gray-200 outline-none p-2 mt-2
  text-slate-700
}
.vehicleGrid{
  width: 100%; height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  place-content: center;
}
.vehicleGrid > div{
  @apply w-full h-full relative overflow-hidden duration-300 lg:m-0
  lg:ml-5 bg-slate-700
}
.fm img{
  @apply bg-cover w-full h-full object-cover duration-[.4s] ease-in-out
}
.fm div:hover > .h1Div{
  @apply top-0
}
.fm div:hover > img{
  @apply scale-105 opacity-20
}
.h1Div > div:hover > img{
  @apply opacity-100
}
.h1Div{
  @apply absolute flex top-[100%] left-0 w-full h-full flex-col m-auto
  duration-300 font-bold items-center justify-center ease-in-out text-white
}
.h1Div > div{
  @apply flex flex-row items-center w-[80%] h-[17%] font-semibold
}
.h1Div img{
  @apply h-1/2 w-auto pr-5
}
.about{
  @apply flex w-[100%] h-auto bg-slate-500 justify-center
}
.aboutT{
  @apply flex flex-row w-[80%] text-6xl font-bold
}
.mobile{
  @apply flex md:flex-row w-full h-auto items-center bg-slate-300 md:justify-evenly
  flex-col text-center md:text-left
}
.store img{
  @apply w-[5vh] h-auto
}
.store{
  @apply bg-white p-3 px-6 rounded-md flex m-4 sm:w-1/2 md:w-1/2 items-center
  hover:bg-orange-500 duration-300 justify-between
}
.storeR{
  @apply pl-4
}